#root {
  position: relative;
  background-color: #0d6efd;
}
.logo{
  width: 100px;
}
.na {
  background-color: white;
  padding: 5px;
  border-radius: 500px;
}

.nav {
  position: fixed;
  /* width: 100%; */
}
.nav p {
  font-weight: bold;
}
.next {
  /* padding-top: 150px; */
}

.footer__ {
  /* color: red; */
  display: flex;
  /* flex-direction: column; */
  gap: 15px;
}

.left_col{
  display: flex;
  flex-direction: column;
}

@media (max-width: 575.98px) {
  .footer__ {
    /* color: red; */
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
